In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
import re

In [3]:
# !pip install xlrd

In [4]:
# 1-link = : link3 http://haitidata.org/layers/geonode:hti_boundaries_sections_communales_adm3_cnigs_polygon/metadata_detail
# 2-link = : http://data.humdata.org/dataset/777e8b06-337f-4295-80bc-ca1515244215/resource/9e34cf7c-8c34-4c09-8b1b-db243c25267b/download/hti_adminboundaries_tabulardata.xlsx
# 3-link = :https://data.humdata.org/dataset/location-of-health-facilities-hospital-in-haiti

# population_dataset

In [5]:
### load the polulation
population_dataset = pd.read_csv('./dataset/hti_pop2019.csv')
population_dataset.isna().sum()

id_Section                0
No_section                0
adm0code                  0
adm0_en                   0
adm0_fr                   0
adm0_ht                   0
adm1code                  0
adm1_en                   0
adm1_fr                   0
adm1_ht                   0
adm2code                  0
adm2_en                   0
adm2_fr                   0
adm2_ht                   0
adm3code                  0
adm3_en                   0
adm3_fr                   0
IHSI_UNFPA_2019           0
IHSI_UNFPA_2019_female    0
IHSI_UNFPA_2019_male      0
dtype: int64

In [6]:
display(population_dataset.head())

population_dataset.rename(columns={'adm1_fr':'departement','adm2_fr': 'commune','adm3_fr':'section_communale','adm3code':'adm3_sec_code'},inplace =True)
population_dataset = population_dataset[['adm3_sec_code','departement','commune','section_communale','IHSI_UNFPA_2019_female','IHSI_UNFPA_2019_male','IHSI_UNFPA_2019']]
# convert string to int
# model 
population_dataset['adm3_sec_code'] = population_dataset['adm3_sec_code'].apply(lambda x:re.sub('\D','',x))
population_dataset.adm3_sec_code =population_dataset.adm3_sec_code.astype('int')
display(population_dataset.head())
population_dataset.to_csv('./output/population_dataset.csv')

,id_Section,No_section,adm0code,adm0_en,adm0_fr,adm0_ht,adm1code,adm1_en,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm2_ht,adm3code,adm3_en,adm3_fr,IHSI_UNFPA_2019,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male
0,111-01,1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,HT0111-01,1re Section Turgeau,1re Section Turgeau,660 741,350 627,310 115
1,111-02,2,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,HT0111-02,2e Section Morne l'Hopital,2e Section Morne l'Hopital,199 766,105 735,94 031
2,111-03,3,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,,HT0111-03,3e Section Martissant,3e Section Martissant,367 032,191 991,175 042
3,112-01,1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0112,Delmas,Delmas,,HT0112-01,1re Section St Martin,1re Section St Martin,491 434,258 526,232 908
4,113-01,1,HT,Haiti,Haïti,Ayiti,HT01,West,Ouest,Lwès,HT0113,Carrefour,Carrefour,,HT0113-01,1re Section Morne Chandelle,1re Section Morne Chandelle,122,55,67

,adm3_sec_code,departement,commune,section_communale,IHSI_UNFPA_2019_female,IHSI_UNFPA_2019_male,IHSI_UNFPA_2019
0,11101,Ouest,Port-au-Prince,1re Section Turgeau,350 627,310 115,660 741
1,11102,Ouest,Port-au-Prince,2e Section Morne l'Hopital,105 735,94 031,199 766
2,11103,Ouest,Port-au-Prince,3e Section Martissant,191 991,175 042,367 032
3,11201,Ouest,Delmas,1re Section St Martin,258 526,232 908,491 434
4,11301,Ouest,Carrefour,1re Section Morne Chandelle,55,67,122

In [7]:
# print of all distict values of seccommunes
print('Total of unique section communales {}'.format(len(set(population_dataset.adm3_sec_code))))
# print of all distict values of seccommunes
print('Total of unique  communes {}'.format(len(set(population_dataset.commune))))
# print of all distict values of departement
print('Total of unique departement {}'.format(len(set(population_dataset.departement))))

Total of unique section communales 570
Total of unique  communes 140
Total of unique departement 10

In [8]:
#### imports the shapefile dataset
sec_communales = gpd.read_file('./hti_boundaries_admi3/hti_boundaries_sections_communales_adm3_cnigs_polygon.shp',encoding ='utf-8')
# renames columns 
sec_communales.rename(columns={'id_section': 'adm3_sec_code','nom_sectio':'section_communale','departemen':'departement','sect_x_lab': 'long','sect_y_lab':'lat'},inplace =True)
# removes non digits characters
sec_communales['adm3_sec_code'] = sec_communales['adm3_sec_code'].apply(lambda x:re.sub('\D','',x))
# convert adm3_sec_code to integer
sec_communales.adm3_sec_code = sec_communales.adm3_sec_code.astype('int')
# selects features needed
sec_communales= sec_communales[['adm3_sec_code','section_communale','commune','departement','long','lat','shape_leng','shape_le_1','shape_le_2','shape_area','geometry']]
sec_communales.head()

,adm3_sec_code,section_communale,commune,departement,long,lat,shape_leng,shape_le_1,shape_le_2,shape_area,geometry
0,52201,1ère Dolan,Terre Neuve,ARTIBONITE,-72.778764,19.559927,0.517184,0.517184,0.517184,0.007745,"POLYGON ((-72.74511 19.62400, -72.74014 19.622..."
1,52203,3ème Lagon,Terre Neuve,ARTIBONITE,-72.831759,19.686279,0.346721,0.346721,0.346721,0.003582,"POLYGON ((-72.80825 19.68328, -72.80119 19.681..."
2,12205,5ème Trou Canari,Petit-Goave,OUEST,-72.942401,18.377845,0.142531,0.142531,0.142531,0.000867,"POLYGON ((-72.92129 18.39278, -72.92134 18.391..."
3,52106,6ème Savane Carrée,Gros Morne,ARTIBONITE,-72.769190,19.727767,0.421555,0.421555,0.421555,0.009299,"POLYGON ((-72.73369 19.75202, -72.73142 19.751..."
4,91103,3ème Aubert,Port-de-Paix,NORD OUEST,-72.827374,19.925431,0.252937,0.252937,0.252937,0.001845,"POLYGON ((-72.81751 19.94888, -72.81594 19.941..."

In [9]:
# print of all distict values of seccommunes
print('Total of unique section communales {}'.format(len(set(sec_communales.adm3_sec_code))))
# print of all distict values of seccommunes
print('Total of unique  communes {}'.format(len(set(sec_communales.commune))))
# print of all distict values of departement
print('Total of unique departement {}'.format(len(set(sec_communales.departement))))

Total of unique section communales 570
Total of unique  communes 140
Total of unique departement 10

In [10]:
# Read the xlsx file with pandas
localtion_health_facilities_hospital = pd.read_excel('./dataset/haiti-healthsites_hdx.xlsx')
# Remove the first column 
localtion_health_facilities_hospital.drop(index = 0, inplace =True)
# display the dataset
localtion_health_facilities_hospital.head()

,Adm1code,adm1_fr,adm1_ht,adm2code,adm2_en,adm2_fr,adm3code,adm3_en,adm3_fr,Institution name,Catégorie,Institution_Type,Institution_Code,LatDD,LongDD
1,NaN,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,111607,18.5259,-72.3351
2,NaN,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,111616,18.5259,-72.3351
3,NaN,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,111618,18.5378,-72.344
4,NaN,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,111619,18.5259,-72.3351
5,NaN,Ouest,Lwès,HT0111,Port-au-Prince,Port-au-Prince,HT0111-01,1re Section Turgeau,1re Section Turgeau,PROFAMIL 2,CSL,Privé à but non lucratif,111620,18.5259,-72.3351

In [11]:
# apply save de dataset (name = haiti-healthsites.csv)
localtion_health_facilities_hospital.to_csv('./output/haiti-healthsites.csv')

In [12]:
# print of all distict values of seccommunes
print('Total of unique section communales {}'.format(len(set(localtion_health_facilities_hospital.adm3_fr))))
# print of all distict values of seccommunes
print('Total of unique  communes {}'.format(len(set(localtion_health_facilities_hospital.adm2_fr))))
# print of all distict values of departement
print('Total of unique departement {}'.format(len(set(localtion_health_facilities_hospital.adm1_fr))))

Total of unique section communales 379
Total of unique  communes 94
Total of unique departement 10

In [13]:
## rename columns on the dataset
set(localtion_health_facilities_hospital.adm1_fr)

{'Artibonite',
 'Centre',
 "Grande'Anse",
 'Nippes',
 'Nord',
 'Nord-Est',
 'Nord-Ouest',
 'Ouest',
 'Sud',
 'Sud-Est'}

In [14]:
# renames some columns on the dataset
localtion_health_facilities_hospital.rename(columns ={"adm3code": "adm3_sec_code","adm3_en":"section_communale","adm1_fr":"departement","adm2_en":"commune","Catégorie":"categorie","Institution name":"institution_name","Institution_Type":"institution_type","Institution_Code":"institution_code","LatDD":"lat","LongDD":"long"},inplace =True)
# selects columns needed
localtion_health_facilities_hospital =localtion_health_facilities_hospital[['adm3_sec_code','commune','departement','section_communale','institution_name','categorie','institution_type','institution_code','lat','long']]
# remove duplicates

# display data
display(localtion_health_facilities_hospital.head())
# set categorical values
display(set(localtion_health_facilities_hospital.categorie))
display(set(localtion_health_facilities_hospital.institution_type))

,adm3_sec_code,commune,departement,section_communale,institution_name,categorie,institution_type,institution_code,lat,long
1,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,111607,18.5259,-72.3351
2,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,111616,18.5259,-72.3351
3,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,111618,18.5378,-72.344
4,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,111619,18.5259,-72.3351
5,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,PROFAMIL 2,CSL,Privé à but non lucratif,111620,18.5259,-72.3351

{'CAL',
 'CSL',
 'Dispensaire',
 'HCR',
 'HD',
 'HU',
 'Hôpital',
 'Hôpital spécial.',
 'Point Fixe',
 nan}

{'Mixte',
 'Privé',
 'Privé sans but lucratif',
 'Privé à but lucratif',
 'Privé à but non lucratif',
 'Public',
 nan}

In [15]:
# improves categorical values to numerics values function
def get_dummies(dataset,columns):
    for column_ in columns:
        data = pd.get_dummies(dataset[column_])
        for column in data.columns:
            dataset[column] = data[column]
    print(dataset.shape)
    return dataset

In [16]:
# rename na
localtion_health_facilities_hospital.categorie = localtion_health_facilities_hospital.categorie .fillna('Categories Non spec.')
localtion_health_facilities_hospital.institution_type = localtion_health_facilities_hospital.institution_type.fillna('Type Non spec.')

# apply the fuctions get_dummies
localtion_health_facilities_hospital=get_dummies(localtion_health_facilities_hospital,['categorie','institution_type'])
localtion_health_facilities_hospital

(3813, 27)

,adm3_sec_code,commune,departement,section_communale,institution_name,categorie,institution_type,institution_code,lat,long,...,Hôpital,Hôpital spécial.,Point Fixe,Mixte,Privé,Privé sans but lucratif,Privé à but lucratif,Privé à but non lucratif,Public,Type Non spec.
1,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,Centre de Santé Snelak,Dispensaire,Privé à but lucratif,111607,18.5259,-72.3351,...,0,0,0,0,0,0,1,0,0,0
2,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,Centre de psychiatrie Mars & Kline,HCR,Public,111616,18.5259,-72.3351,...,0,0,0,0,0,0,0,0,1,0
3,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,Hôpital St. François de Salle,CSL,Privé à but lucratif,111618,18.5378,-72.344,...,0,0,0,0,0,0,1,0,0,0
4,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,CSL SODEC,CAL,Privé à but lucratif,111619,18.5259,-72.3351,...,0,0,0,0,0,0,1,0,0,0
5,HT0111-01,Port-au-Prince,Ouest,1re Section Turgeau,PROFAMIL 2,CSL,Privé à but non lucratif,111620,18.5259,-72.3351,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3809,HT0233-02,Thiotte,Sud-Est,2e Section Pot de Chambre,NaN,Categories Non spec.,Type Non spec.,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
3810,HT0233-01,Thiotte,Sud-Est,1re Section Thiotte,NaN,Categories Non spec.,Type Non spec.,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
3811,HT0233-02,Thiotte,Sud-Est,2e Section Pot de Chambre,NaN,Categories Non spec.,Type Non spec.,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
3812,HT0233-01,Thiotte,Sud-Est,1re Section Thiotte,NaN,Categories Non spec.,Type Non spec.,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
3813,HT0233-02,Thiotte,Sud-Est,2e Section Pot de Chambre,NaN,Categories Non spec.,Type Non spec.,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1

In [17]:
# summarizes site by categories and types by commune
summary =localtion_health_facilities_hospital.groupby(['adm3_sec_code']).sum().reset_index().drop_duplicates()
# display total of site by commune
sumary2 = localtion_health_facilities_hospital.groupby(['adm3_sec_code']).size().to_frame().reset_index()
sumary2.rename(columns={0:"Total"},inplace =True)
# merges sumary and sumary 2 to
summary_haiti_healthsites = pd.merge(summary,sumary2,how='inner',on='adm3_sec_code')
# rename non digit characters
summary_haiti_healthsites['adm3_sec_code'] = summary_haiti_healthsites['adm3_sec_code'].apply(lambda x:re.sub('\D','',x))
# convert adm3_sec_code to int
summary_haiti_healthsites.adm3_sec_code =summary_haiti_healthsites.astype('int')
summary_haiti_healthsites

,adm3_sec_code,CAL,CSL,Categories Non spec.,Dispensaire,HCR,HD,HU,Hôpital,Hôpital spécial.,Point Fixe,Mixte,Privé,Privé sans but lucratif,Privé à but lucratif,Privé à but non lucratif,Public,Type Non spec.,Total
0,11101,4,26,22,3,1,0,1,7,0,0,6,0,0,18,12,6,22,64
1,11102,3,7,22,28,3,1,0,0,0,0,2,1,3,11,0,25,22,64
2,11103,6,5,22,28,1,0,0,2,0,0,5,0,5,17,0,15,22,64
3,11201,0,0,43,0,0,0,0,0,0,0,0,0,0,0,0,0,43,43
4,11301,0,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,103103,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
377,103104,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
378,103105,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
379,103201,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
380,103202,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [20]:
# merge population dataset to sec_communales boundaries
sec_communales =pd.merge(sec_communales,population_dataset[['adm3_sec_code','IHSI_UNFPA_2019_female','IHSI_UNFPA_2019_male','IHSI_UNFPA_2019']],how ='left',on='adm3_sec_code')
# merge health sites dataset to sec_communales boundaries
sec_communales = pd.merge(sec_communales,summary_haiti_healthsites,how ='left',on ='adm3_sec_code')
# save to csv file  the merged commune , population and health sites dataset
sec_communales.to_csv('./output/adim3_boundaries_population_and_health_sites.csv')

In [21]:
# d
sec_communales.columns.to_frame()

                                                 0
adm3_sec_code                        adm3_sec_code
section_communale                section_communale
commune                                    commune
departement                            departement
long                                          long
lat                                            lat
shape_leng                              shape_leng
shape_le_1                              shape_le_1
shape_le_2                              shape_le_2
shape_area                              shape_area
geometry                                  geometry
IHSI_UNFPA_2019_female_x  IHSI_UNFPA_2019_female_x
IHSI_UNFPA_2019_male_x      IHSI_UNFPA_2019_male_x
IHSI_UNFPA_2019_x                IHSI_UNFPA_2019_x
IHSI_UNFPA_2019_female_y  IHSI_UNFPA_2019_female_y
IHSI_UNFPA_2019_male_y      IHSI_UNFPA_2019_male_y
IHSI_UNFPA_2019_y                IHSI_UNFPA_2019_y
CAL                                            CAL
CSL                                            CSL
Categories Non spec.          Categories Non spec.
Dispensaire                            Dispensaire
HCR                                            HCR
HD                                              HD
HU                                              HU
Hôpital                                    Hôpital
Hôpital spécial.                  Hôpital spécial.
Point Fixe                              Point Fixe
Mixte                                        Mixte
Privé                                        Privé
Privé sans but lucratif    Privé sans but lucratif
Privé à but lucratif          Privé à but lucratif
Privé à but non lucratif  Privé à but non lucratif
Public                                      Public
Type Non spec.                      Type Non spec.
Total                                        Total

In [22]:
# display final datasets
sec_communales

,adm3_sec_code,section_communale,commune,departement,long,lat,shape_leng,shape_le_1,shape_le_2,shape_area,...,Hôpital spécial.,Point Fixe,Mixte,Privé,Privé sans but lucratif,Privé à but lucratif,Privé à but non lucratif,Public,Type Non spec.,Total
0,52201,1ère Dolan,Terre Neuve,ARTIBONITE,-72.778764,19.559927,0.517184,0.517184,0.517184,0.007745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52203,3ème Lagon,Terre Neuve,ARTIBONITE,-72.831759,19.686279,0.346721,0.346721,0.346721,0.003582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12205,5ème Trou Canari,Petit-Goave,OUEST,-72.942401,18.377845,0.142531,0.142531,0.142531,0.000867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,11.0
3,52106,6ème Savane Carrée,Gros Morne,ARTIBONITE,-72.769190,19.727767,0.421555,0.421555,0.421555,0.009299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91103,3ème Aubert,Port-de-Paix,NORD OUEST,-72.827374,19.925431,0.252937,0.252937,0.252937,0.001845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,23105,5ème Bel Air,Belle-Anse,SUD-EST,-72.047882,18.280446,0.329504,0.329504,0.329504,0.004748,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,12201,1ère Bino,Petit-Goave,OUEST,-72.936906,18.414467,0.316921,0.316921,0.316921,0.003755,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,11.0
567,22201,1ère Gris-gris,Cotes-de-Fer,SUD-EST,-72.943853,18.209133,0.338016,0.338016,0.338016,0.005745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,22206,6ème Jamais Vu,Cotes-de-Fer,SUD-EST,-72.981187,18.261013,0.419606,0.419606,0.419606,0.004467,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
569,23401,1ère Boucan Guillaume,Anse-a-Pitres,SUD-EST,-71.795083,18.120398,0.554080,0.554080,0.554080,0.010856,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# get info 
sec_communales.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 570 entries, 0 to 569
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   adm3_sec_code             570 non-null    int64
 1   section_communale         570 non-null    object
 2   commune                   570 non-null    object
 3   departement               570 non-null    object
 4   long                      570 non-null    float64
 5   lat                       570 non-null    float64
 6   shape_leng                570 non-null    float64
 7   shape_le_1                570 non-null    float64
 8   shape_le_2                570 non-null    float64
 9   shape_area                570 non-null    float64
 10  geometry                  570 non-null    geometry
 11  IHSI_UNFPA_2019_female_x  570 non-null    object
 12  IHSI_UNFPA_2019_male_x    570 non-null    object
 13  IHSI_UNFPA_2019_x         570 non-null    object
 14  IHSI_UNFPA_2019_female_y  570 non-null    object
 15  IHSI_UNFPA_2019_male_y    570 non-null    object
 16  IHSI_UNFPA_2019_y         570 non-null    object
 17  CAL                       381 non-null    float64
 18  CSL                       381 non-null    float64
 19  Categories Non spec.      381 non-null    float64
 20  Dispensaire               381 non-null    float64
 21  HCR                       381 non-null    float64
 22  HD                        381 non-null    float64
 23  HU                        381 non-null    float64
 24  Hôpital                   381 non-null    float64
 25  Hôpital spécial.          381 non-null    float64
 26  Point Fixe                381 non-null    float64
 27  Mixte                     381 non-null    float64
 28  Privé                     381 non-null    float64
 29  Privé sans but lucratif   381 non-null    float64
 30  Privé à but lucratif      381 non-null    float64
 31  Privé à but non lucratif  381 non-null    float64
 32  Public                    381 non-null    float64
 33  Type Non spec.            381 non-null    float64
 34  Total                     381 non-null    float64
dtypes: float64(24), geometry(1), int64(1), object(9)
memory usage: 160.3+ KB

In [24]:
# convert boundaries to geojson
sec_communales.to_file("./output/boundaries_sec_communale.json", driver="GeoJSON")
sec_communales.geometry.to_file("./output/sec_communale_geom.json", driver="GeoJSON")

In [25]:
# read geojson
test =gpd.read_file("./output/boundaries_sec_communale.json")

In [26]:
test.head()

,adm3_sec_code,section_communale,commune,departement,long,lat,shape_leng,shape_le_1,shape_le_2,shape_area,...,Point Fixe,Mixte,Privé,Privé sans but lucratif,Privé à but lucratif,Privé à but non lucratif,Public,Type Non spec.,Total,geometry
0,52201,1ère Dolan,Terre Neuve,ARTIBONITE,-72.778764,19.559927,0.517184,0.517184,0.517184,0.007745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-72.74511 19.62400, -72.74014 19.622..."
1,52203,3ème Lagon,Terre Neuve,ARTIBONITE,-72.831759,19.686279,0.346721,0.346721,0.346721,0.003582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-72.80825 19.68328, -72.80119 19.681..."
2,12205,5ème Trou Canari,Petit-Goave,OUEST,-72.942401,18.377845,0.142531,0.142531,0.142531,0.000867,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,11.0,"POLYGON ((-72.92129 18.39278, -72.92134 18.391..."
3,52106,6ème Savane Carrée,Gros Morne,ARTIBONITE,-72.769190,19.727767,0.421555,0.421555,0.421555,0.009299,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-72.73369 19.75202, -72.73142 19.751..."
4,91103,3ème Aubert,Port-de-Paix,NORD OUEST,-72.827374,19.925431,0.252937,0.252937,0.252937,0.001845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,22.0,"POLYGON ((-72.81751 19.94888, -72.81594 19.941..."